.fonyuy{
    border: 1px black solid;  
    background-image: url(./image/Multicolor-07-2.3.001-bigpicture_07_8.jpg);
    padding: 20px 40px ;
    margin: 100px 100px;
    text-align: center;
}
/* Style two container/contact section */
.container{
    border-radius: 5px;
    background-color: black;
    padding: 20px;
    text-align: center;
    background-image: url(./IMAGE/1679081325618.jpg);
}